<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group F</title>
    <link rel="stylesheet" href="persona.css" />
    <link rel="stylesheet" href="mediaqueries.css" />
  </head>
  <body>

    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">Ila Virnanda Fitriana</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="./assets/Ila.jpg"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <img
                src="./assets/education.png"
                alt="Experience icon"
                class="icon"/>
              <h3>Position</h3>
              <p>Frontend Development</p>
            </div>
            <div class="details-container">
                <img
                  src="./assets/pngegg.png"
                  alt="Education icon"
                  class="icon"
                />
                <h3>Education</h3>
                <p>Information Technology (Undergraduate)</p>
            </div>
          </div>
          <div class="text-container">
            <h1>About</h1>
            <p>
              Hello, my name is Ila Virnanda Fitriana. I am currently a second-year Information Technology student at Brawijaya University, Indonesia. I have knowledge and experience in Object-Oriented Programming using Java, as well as web and mobile app development. My current interests are focused on enhancing my skills in database management, UI/UX design, and front-end development.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="./assets/email.png"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a href="mailto:ilavirnandaf@student.ub.ac.id">ilavirnandaf@student.ub.ac.id</a></p>
        </div>
        <div class="contact-info-container">
          <img
            src="./assets/linkedin.png"
            alt="LinkedIn icon"
            class="icon contact-icon"
          />
          <p><a href="https://www.linkedin.com/in/ilavirnandafitriana">Ila Virnanda Fitriana</a></p>
        </div>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
