<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group F</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="mediaqueries.css" />
  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">Group F</div>
      <div>
        <ul class="nav-links">
          <li><a href="#desktop-nav">Home</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <div class="logo">Group F</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#desktop-nav" onclick="toggleMenu()">Home</a></li>
          <li><a href="#team" onclick="toggleMenu()">Team</a></li>
        </div>
      </div>
    </nav>
    <section id="profile">
      <div class="section__pic-container">
        <img src="./assets/ic_groupf.png" alt="Group F" />
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello, We are</p>
        <h1 class="title">Group F</h1>
        <p class="section__text__p2">Administrasi Sistem A</p>
        <div class="btn-container">
          <button class="btn btn-color-2" onclick="location.href='https://github.com/nurshineds/groupf-adsis'">
            GitHub
          </button>
          <button class="btn btn-color-1" onclick="location.href='https://hub.docker.com/repository/docker/namarepository'">
            Docker Hub
          </button>
        </div>
      </div>
    </section>


    <section id="team">
      <p class="section__text__p1">Get to Know</p>
      <h1 class="title">Our Team</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/kia.JPG"
                alt="Adzkia Diandra"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Adzkia Diandra Arsya</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='kia.html'"
              >
                See More
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/Fina.jpg"
                alt="Alfina Zahra Salsabila"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Alfina Zahra Salsabila</h2>
 <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='fina.html'"
              >
                See More
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/vio.jpg"
                alt="Nur Shine Di Saviola"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Nur Shine Di Saviola</h2>
 <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='vio.html'"
              >
                See More
              </button>
            </div>
          </div>
        </div>
      </div>
            <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/Dea.jpg"
                alt="Dea Naila Wiliska"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Dea Naila Wiliska</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='dea.html'"
              >
                See More
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/cindy.jpg"
                alt="Insania Cindy Puan Fadilahsari"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Insania Cindy Puan Fadilahsari</h2>
 <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='cindy.html'"
              >
                See More
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/Ila.jpg"
                alt="Ila Vernanda Fitriana"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Ila Vernanda Fitriana</h2>
 <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='ila.html'"
              >
                See More
              </button>
            </div>
          </div>
        </div>
      </div>
            <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/dinda.jpg"
                alt="Adinda Yulia Safitri"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Adinda Yulia Safitri</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='dinda.html'"
              >
                See More
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/Sheila.jpg"
                alt="Sheila Azalia Zahra"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Sheila Azalia Zahra</h2>
 <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='sheila.html'"
              >
                See More
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="./assets/Nadin.png"
                alt="Nadin Audia Putri"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Nadin Audia Putri</h2>
 <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='nadin.html'"
              >
                See More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <p>Copyright &#169; 2024 Group F. All Rights Reserved.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
